.login {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginWrapper {
    width: 90%;
    height: 100%;
    display: flex;
}

.loginLeft,
.loginRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginLogo {
    font-size: 50px;
    font-weight: 800;
    color: #1775ee;
    margin-bottom: 10px;
}

.loginDesc {
    font-size: 24px;
}

.loginBox {
    /* height: 400px; */
    padding: 20px; 
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    /* justify-content: space-around; */
}

.loginInput {
    height: 40px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 14px;
    padding-left: 20px;
    margin-top: 20px;
}

.loginInput:focus {
    outline: none;
}

.loginButton {
    margin-top: 15px;
    height: 35px;
    border-radius: 10px;
    border: none;
    background-color: #1775ee;
    color: white;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.loginButton:focus {
    outline: none;
}

.loginButton:disabled {
    cursor: not-allowed;
}

.loginForgot {
    margin-top: 30px;
    cursor: pointer;
    text-align: center;
    color: #1775ee;
}

.form-error{
    font-size: 12px;
    margin-left:8px ;
    color: red;
    margin-bottom: -5px;
}

